// _mediaQueries.scss

@media (max-width: 940px) {
   input[type="number"] {
      font-size: 1rem;
   }

   .bottomOfChq {
      flex-direction: column;
      align-items: flex-start;
   }

   .serialNumber span {
      font-size: 0.9rem;
   }

   .midOfChq {
      .baseH3,
      .baseAmount,
      .amount,
      .convertedValue {
         font-size: 1.2rem;
      }
      display: flex;
      flex-direction: column;
      .payTo {
         align-self: flex-start;
      }
      h3 {
         margin: 0;
      }
   }
}

@media (max-width: 730px) {
   .currencyForm {
      margin-top: 30px;
   }
   .toAndFrom {
      display: flex;
      flex-direction: column;
   }
   .topOfChq {
      display: flex;
      flex-direction: column;
      text-align: center;
   }

   input[type="number"] {
      font-size: 0.75rem;
   }
}

@media (max-width: 480px) {
   h1 {
      font-size: 2.4rem;
   }

   .dollarSign {
      width: 60px;
      height: 100px;
   }
   
   section {
      width: 85%;
   }

   .midOfChq .payTo {
      text-align: center;
      margin-right: 0;
      align-self: center;
   }

   input[type="number"] {
      width: 85%;
   }

   .midOfChq {
      flex-direction: column;
      margin-top: 0;
      h3 {
         margin: 0;
      }
   }

   .bottomOfChq h3 {
      margin-top: 20px;
      span {
         font-size: 0.8rem;
      }
   }

   input[type="number"] {
      font-size: 0.8rem;
   }

   .baseInput,
   .toConvertedInput,
   .moneyInput {
      font-size: 0.9rem;
   }

   select {
      font-size: 0.9rem;
   }

   button {
      font-size: 1rem;
   }

   .serialNumber {
      font-size: 0.7rem;
      span {
         font-size: 0.6rem;
      }
   }
}
