// _typography.scss

h1 {
    font-family: $mainFont;
    font-size: 3.10rem;
    letter-spacing: 15px;
    text-align: center;
    transition: transform 0.6s ease-in-out;
    margin-bottom: 60px;
    text-shadow: 2px 2px $cream;
}

h1:hover {
    transform: rotate(-2.25deg);
}

h2 {
    font-family: $mainFont;
}

h3 {
    font-family: $bodyFont;
    font-size: 0.9rem;
}

p {
    font-family: $bodyFont;
    font-size: 1.2rem;
}

span {
    font-family: $handwrittenFont;
    font-size: 1.2rem;
}

.serialNumber {
    font-family: $bodyFont;
    font-size: 0.9rem;
}

.serialNumber span {
    font-family: $serialFont;
}

.moneyInput,
.baseInput,
.toConvertedInput{
    font-family: $bodyFont;
    font-size: 1.5rem;
}

i {
    font-size: 1.5rem;
}



