// _variables.scss

// fonts
$mainFont: 'Cinzel Decorative', cursive;
$bodyFont: 'Kaisei Opti', serif;
$serialFont: 'Orbitron', sans-serif;
$handwrittenFont: 'Homemade Apple', cursive;
$baseFontSize: 1rem;

// site colours
$green: #098e09;
$darkGreen: rgb(3, 80, 3);
$lightGreen: rgba(41, 187, 99, 0.995);
$cream: blanchedalmond;
$darkCream: rgb(241, 215, 177);

