// _variables.scss

// fonts
$mainFont: "Cinzel Decorative", cursive;
$bodyFont: "Kaisei Opti", serif;
$serialFont: "Orbitron", sans-serif;
$handwrittenFont: "Homemade Apple", cursive;
$baseFontSize: 1rem;

// site colours
$green: #abd699e0;
$darkGreen: #3c896d;
$lightGreen: #4fb286;
$cream: blanchedalmond;
$darkCream: rgb(247, 221, 182);
