// _variables.scss

// fonts
$mainFont: 'Cinzel Decorative', cursive;
$bodyFont: 'Kaisei Opti', serif;
$serialFont: 'Orbitron', sans-serif;
$handwrittenFont: 'Homemade Apple',
cursive;
$baseFontSize: 1rem;

// site colours
$green: #098e09;